/* HAMK branding colors */

.md-header, .md-nav--primary .md-nav__title[for=__drawer] { /*this is correct, do not remove it*/
    background-color: #003755;
    scrollbar-color: #7300F0;
    color: #D7AFFF;
}

.md-icon { /*this is correct, do not remove it*/
    color: #D7AFFF;
}

.md-tabs { /*this is correct, do not remove it*/
    background-color: #D7AFFF;
    color: #7300F0;
}

.md-tabs__item .md-tabs__link, .md-tabs__item--active .md-tabs__link { /*this is correct, do not remove it*/
    color: black;
}

.md-ellipsis:hover { /*this is correct, do not remove it*/
    color: #7300F0;
}


/* from documentation, but not switchable yet on dark and light modes 
[data-md-color-scheme='HAMK'] {
    --md-primary-fg-color:        #003755;
    --md-primary-fg-color--light: #7300F0;
    --md-primary-fg-color--dark:  #003755;
}

[data-md-color-scheme] {
    --md-primary-fg-color:        #003755;
    --md-primary-fg-color--light: #7300F0;
    --md-primary-fg-color--dark:  #003755;
}
*/
/* font for the nav (right side nav)*/
/* this is correct, but color should be different for better visibility*/
/*
.md-nav--primary .md-nav__item--active>.md-nav__link {
    color: #7300F0;
}
*/

@font-face {/* from the HAMK font .zip file */
    font-family: 'TT Rounds Neue';
    src: url('../assets/tt_rounds_neue_demibold-webfont.woff2') format('woff2'),
         url('../assets/tt_rounds_neue_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {/* from the HAMK font .zip file */
    font-family: 'TT Rounds Neue Condensed';
    src: url('../assets/tt_rounds_neue_condensed_demibold-webfont.woff2') format('woff2'),
         url('../assets/tt_rounds_neue_condensed_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family-sans: 'Inter', Helvetica, Arial, sans-serif; /* from the hamkin-brandi page */
    --font-family-serif: 'TT Rounds Neue', 'Arial Rounded MT', serif; /* from the hamkin-brandi page */
/* currently not works 
    --md-primary-fg-color:        #003755;
    --md-primary-fg-color--light: #7300F0; 
    --md-primary-fg-color--dark:  #003755; 
*/

    --md-text-font: var(--font-family-sans); 
    --md-code-font: 'Roboto Mono', 'Courier';
}

h1, h2, h3, h4, h5, h6, .md-ellipsis, .md-tabs__link {
    font-family: var(--font-family-serif)
}

/* For the email feedback button, putting to the search div */
.md-search {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
}
.custom-email-link i {  /* Adjust the envelope icon */
    margin-right: 8px;
    margin-left: 12px;
    font-size: 16px;
}
.custom-email-link { /* Adjust the 'Feedback' text */
    font-size: 14px;
    vertical-align: middle;
}