/*code line numbering*/
td.code {
    background-color: auto /*rgb(245, 245, 245)*/;
}

td.linenos {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-collapse: separate;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    
    padding-bottom: 10.5px;
    padding-left: 16px;
    padding-right: 0px;
    padding-top: 14px;

    font-family: 'Roboto', -apple-system, 'BlinkMacSystemFont', Helvetica, Arial, sans-serif;
    font-feature-settings: "kern", "liga";
    -webkit-font-smoothing: antialiased;

    /* Match font, font-size, and line-height to code block */
    font-family: 'Roboto Mono', monospace; /* Change to your preferred monospace font */
    font-feature-settings: "kern";
    font-size: 13.6px; /* Change to match your code block font size */
    line-height: 19.04; /* Change to match your code block line height */
    /* Match text alignment to code block */
    text-align: right;
    text-wrap: nowrap;
    color-scheme: light;
    display: table-cell;
    font-feature-settings: "kern", "liga";
    line-height: 55.6px;
    text-indent: 0px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    vertical-align: top;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    background-color: auto;
}

.linenodiv pre {
    color: #7300F0;
}

.codehilite {
    overflow-x: auto; /* Enable horizontal scrolling */
  }  

/*HAMK branding colors*/
.md-header {
    background-color: #003755;
    scrollbar-color: #7300F0;
}  /*this is correct, do not remove it*/

.md-tabs {
    background-color: #7300F0;
} /*this is correct, do not remove it*/

.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: #003755;
    scrollbar-color: #7300F0;
} /*this is correct, do not remove it*/

/* font */
.md-nav--primary .md-nav__item--active>.md-nav__link {
    color: #7300F0;
}